<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin disabled="false" name="Xigen_Newsletter_Plugin_Magento_Newsletter_Model_Subscriber" sortOrder="10" type="Xigen\Newsletter\Plugin\Magento\Newsletter\Model\Subscriber"/>
    </type>
</config>